{% extends 'base.html' %}

{% block title %}Lista de Eventos{% endblock %}

{% block content %}
<h1 class="text-center">Lista de Eventos</h1>
<ul class="list-group">
    {% for evento in eventos %}
        <li class="list-group-item">
            <strong>{{ evento.titulo }}</strong>
            <br>
            <em>Cancha:</em> {{ evento.cancha.nombre }}
            <br>
            <em>Fecha:</em> {{ evento.fecha_inicio|date:"d M Y H:i" }} - {{ evento.fecha_fin|date:"d M Y H:i" }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
