# Django + PostgreSQL
Django==5.1
psycopg==3.1.10
sqlparse==0.5.1
dj-database-url==2.3.0

# Django REST API y JWT
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
django-filter==25.1
django-cors-headers==4.7.0

# Supabase SDK y servicios
supabase==2.13.0
gotrue==2.11.4
realtime==2.4.1
storage3==0.11.3
postgrest==0.19.3
supafunc==0.9.3

# Async + HTTP clients
httpx==0.28.1
aiohttp==3.11.13
aiosignal==1.3.2
multidict==6.1.0
yarl==1.18.3
frozenlist==1.5.0
sniffio==1.3.1
anyio==4.8.0
asgiref==3.8.1

# Background tasks (Celery)
celery==5.4.0
kombu==5.4.2
billiard==4.2.1
vine==5.1.0

# Server y static files
gunicorn==23.0.0
whitenoise==6.9.0

# Utilidades útiles
python-dotenv==1.0.1
PyJWT==2.10.1
requests==2.32.3
pillow==11.1.0
geopy==2.4.1
geographiclib==2.0
python-dateutil==2.9.0.post0
attrs==25.1.0
colorama==0.4.6
packaging==24.2
tzdata==2024.1

# Terminal y entorno
virtualenv==20.26.3
filelock==3.15.4
platformdirs==4.2.2
distlib==0.3.8
prompt_toolkit==3.0.50
wcwidth==0.2.13

# Tipado y validación
typing_extensions==4.12.2
pydantic==2.10.6
pydantic_core==2.27.2
StrEnum==0.4.15
